<h2><%= @event.name %></h2>

<ul>

  <li>
    <%= @event.date %>
  </li>

  <li>
    <%= @event.description %>
  </li>

</ul>

<span><%= link "Edit Event", to: event_path(@conn, :edit, @event) %></span>
<span><%= link "My Events", to: event_path(@conn, :index) %></span>
<span><%= link "Add Gift", to: gift_path(@conn, :new, @event) %></span>
